/* Buttons */
/*.cta-sm {
  border-radius: 8px;
  padding: 8px 12px;
}*/

.cta-md {
  border-radius: 6px;
  padding: 8px 16px;
}

.cta-l{
  border-radius: 6px;
  padding: 10px 20px;
}

.cta-xl {
  border-radius: 6px;
  padding: 14px 30px;
  text-align: center;
  width: 60%;
}

.cta-xl-full {
  border-radius: 6px;
  padding: 14px 30px;
  text-align: center;
  width: 100%;
}


.cta-md, .cta-l, .cta-no-padding{
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
}

/* orange buttons */
.cta-color-orange {
  background-color: var(--color-orange);
  color: var(--white);
  border: none;
  margin-bottom: 0px;
}

.cta-color-orange:hover {
  background-color: var(--color-orange-hover);
  cursor: pointer;
  transition: color 0.3s;
}

.cta-border-color-orange {
  border: var(--color-orange) solid 1px;
  color: var(--white);
  margin-bottom: 0px;
}

.cta-border-color-orange:hover {
  background-color: rgba(230, 69, 61, 0.7);
  cursor: pointer;
  transition: color 0.3s;
}

/* blue buttons */
.cta-color-blue {
  background-color: var(--color-blue);
  color: var(--white);
  border: none;
  margin-bottom: 0px;
}

.cta-color-blue:hover {
  background-color: var(--color-blue-hover);
  cursor: pointer;
  transition: color 0.3s;
}

.cta-color-blue:disabled {
  background-color: var(--gray-2);
  color: var(--color-primary);
  cursor: not-allowed;
  opacity: 0.7;
}

/* no padding buttons */
.cta-no-padding, .wishlist {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  padding: 0;
  margin-bottom: 0px;
}
