/* Buttons */
.cta-md {
  border-radius: 6px;
  padding: 8px 16px;
}

.cta-l{
  border-radius: 6px;
  padding: 10px 20px;
}

.cta-xl {
  border-radius: 6px;
  padding: 14px 30px;
  text-align: center;
  width: 60%;
}

.cta-xl-full {
  border-radius: 6px;
  padding: 14px 30px;
  text-align: center;
  width: 100%;
}

.cta-md, .cta-l, .cta-no-padding{
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
}

/* Orange buttons */
.cta-color-orange {
  background-color: var(--color-orange, #CA4039);
  color: var(--color-secondary, #FAF9F6);
  border: none;
  margin-bottom: 0;
}

.cta-color-orange:hover {
  background-color: var(--color-orange-hover, #B6362E);
  cursor: pointer;
  transition: color 0.3s;
}

/* Blue buttons */
.cta-color-blue {
  background-color: var(--color-blue, #3045E1);
  color: var(--color-secondary, #FAF9F6);
  border: none;
  margin-bottom: 0;
}

.cta-color-blue:hover {
  background-color: var(--color-blue-hover, #2439C4);
  cursor: pointer;
  transition: color 0.3s;
}

.cta-color-blue:disabled {
  background-color: var(--gray-1, #D9D9D9);
  color: var(--color-primary,#222);
  cursor: not-allowed;
  opacity: 0.7;
}

/* No padding buttons */
.cta-no-padding, .wishlist {
  background-color: transparent;
  border: none;
  color: var(--color-primary,#222);
  padding: 0;
  margin-bottom: 0;
}
