/* Buttons */
/*.cta-sm {
  border-radius: 8px;
  padding: 8px 12px;
}*/

.cta-md {
  border-radius: 6px;
  padding: 8px 16px;
}

.cta-l{
  border-radius: 6px;
  padding: 10px 20px;
}

.cta-md, .cta-l{
    display: flex;
    width: fit-content;
    gap: 8px;
}

/* orange buttons */
.cta-color-orange {
  background-color: var(--color-orange);
  color: var(--white);
  border: none;
  margin-bottom: 0px;
}

.cta-color-orange:hover {
  background-color: var(--color-orange-hover);
  cursor: pointer;
  transition: color 0.3s;
}

.cta-border-color-orange {
  border: var(--color-orange) solid 1px;
  color: var(--white);
  margin-bottom: 0px;
}

.cta-border-color-orange:hover {
  background-color: rgba(230, 69, 61, 0.7);
  cursor: pointer;
  transition: color 0.3s;
}