/* Navbar */
/* Menu button - hamburger */
/* From https://www.youtube.com/watch?v=neb7WcDixoY&t=1s */
.app {
  display: flex;
  min-height: 100vh;
}

.menu-toggle {
	display: block;
	position: fixed;
	top: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	border-radius: 99px;
	background-color: var(--color-burgundy, #561A38);
	cursor: pointer;
    z-index: 4;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 22px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1.5px; /* Line thicknes */
  border-radius: 99px;
  background-color: var(--color-secondary, #FAF9F6);
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -6px;
}
.hamburger > span::after {
  content: '';
  top: 6px;
}

.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar.is-active {
  left: 0;
}

.sidebar {
  position: fixed;
  padding: 30px;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 300px;
  max-width: 100%; /* allows shrinking on small screens */
  transition: 0.3s linear;
  z-index: 4;
  background: var(--color-secondary, #FAF9F6);
  border-right: 1px solid var(--gray-1, #D9D9D9);
}
/* Tutorial done */

.sidebar nav {
  margin-top: 64px;
  width: 100%;
}

.sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar nav a {
  display: block;
  color: var(--color-primary, #222222);
  font-size: 0.9rem;
  transition: background-color 0.3s;
  width: 100%;
}

.sidebar nav li {
  margin: 0 -10px;
  padding: 10px 12px;
  border-radius: 5px;
}

.sidebar nav li:hover a {
  color: var(--color-secondary, #FAF9F6);
}

.sidebar nav li:hover {
  background-color: var(--color-burgundy, #561A38);
  color: var(--color-secondary, #FAF9F6);
}

.sidebar nav a.active {
  color: var(--color-orange, #CA4039);
}

.sidebar .icon-m {
  color: var(--color-primary, #222222);
}

.sidebar .active-icon,
.active-icon {
  color: var(--color-orange, #CA4039);
}

.active-icon-blue {
  color: var(--color-blue, #3045E1);
  stroke-width: 1.75;
}

.sidebar nav li:hover svg {
  color: var(--color-secondary, #FAF9F6);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-item svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.nav-item span {
  margin: 4px 0 0 12px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

/* Header nav */
.header-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 28px;
}

/* Search input */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--gray-1, #D9D9D9);
  border-radius: 36px;
  padding: 10px 24px;
  box-sizing: border-box;
  margin: 0 0 20px 0;
}

.search-input {
  flex: 1;
  font-size: 1rem;
  border: none;
  outline: none;
  color: var(--color-primary, #222222);
  opacity: 0.7;
  margin-right: 16px;
  font-family: inherit;
  background: transparent;
}

.search-bar-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-bar-button svg {
  display: block;
  width: 24px;
  height: 24px;
}

.search-icon {
  color: var(--color-primary, #222222);
  opacity: 0.7;
}

/* Cart icon */
.icon-cart {
  position: relative;
  cursor: pointer;
}

.icon-cart span {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  border-radius: 50%;
  background-color: var(--color-orange, #CA4039);
  color: var(--color-secondary, #FAF9F6);
  position: absolute;
  top: 50%;
  right: -8px;
  padding: 9px;
}

/* Profile icon */
.profile-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: conic-gradient(#e76e62, #222 270deg, #e76e62 360deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5px; /* Border */
  box-sizing: border-box;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

/* Breadcrumb */
.breadcrumb {
  padding: 0 10px;
  margin-bottom: 30px;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.5rem;
  content: "/";
}

.page {
  font-weight: 400;
  color: var(--color-primary, #222222);
}

.page:hover {
  text-decoration: underline;
  color: var(--color-burgundy, #561A38);
}

.current-page {
  font-weight: 600;
  color: var(--color-orange, #CA4039);
}