/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #222222;
  --color-secondary: #FAF9F6;
  --color-secondary-hover: #f4f3f0;
  --color-secondary-darker: #efeeed;

  /* colors */
  --color-blue: #3045E1;
  --color-blue-hover: #2439C4;
  --color-purple: #6532DE;
  --color-vivid-purple: #A433CF;
  --color-pink: #D73980;
  --color-orange: #E6453D;
  --color-orange-hover: #C63A34;
  --color-yellow: #FFAD0F;
  --delete: #960000;

  /* shades */
  --gray-4: #595D62;
  --gray-3: #969696;
  --gray-2: #D9D9D9;
  --gray-1: #f5f5f5;
  --white: #FAF9F6;

  /* feedback - not used, but keeping for later use with JS */
  --color-success: #28C373;
  --color-error: #CC2E22;
  --color-warning: #F0BF4E;

  /* body */
  --padding-x: 180px;
  --ipad-padding-x: 60px;
  --mobile-padding-x: 40px;

  /* fonts */
  body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    margin: 0;
  }

  .title-xs {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .title-s {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .title-m {
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* nav */
  .sidebar nav a {
    font-weight: 500;
  }

  /* buttons */
  .cta-sm,
  .cta-md,
  .cta-l {
    font-weight: 600;
  }

  /*.cta-sm {
    font-size: 14px;
  }*/

  .cta-md {
    font-size: 14px;
  }

  .cta-l{
    font-size: 16px;
  }

  .cta-xl, .cta-xl-full {
    font-size: 18px;
    font-weight: 600;
  }

  /* cards */
  .featured-card h2 {
    font-size: 2.25rem;
  }
  
  .featured-card p {
    font-size: 1rem;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .featured-card .card-genre,
  .card .card-genre {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
  }

  /* footer */
  .footer-col ul li a {
    font-size: 1rem;
  }

  .footer-terms a {
    font-size: 0.875rem;
  }

  /* Product */
  .tag {
    font-weight: 500;
    font-size: 0.875rem;
  }

  .game-description {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
  }

  .current-price,
  .original-price {
    font-weight: 700;
  }

  .cta-no-padding, .wishlist {
    font-size: 1.25rem;
    font-weight: 600;
  }

  /* forms */
  .form-group label {
    font-size: 1rem;
    font-weight: 400;
  }

}