:root {
  --color-primary:#222;
  --color-secondary: #FAF9F6;
  --color-secondary-darker: #EFEEED;

  /* Colors */
  --color-blue: #3045E1;
  --color-blue-hover: #2439C4;
  --color-burgundy: #561A38;
  --color-orange: #CA4039;
  --color-orange-hover: #B6362E;
  --color-yellow: #FFAD0F;
  --alert: #960000;

  /* Shades */
  --gray-2: #595D62;
  --gray-1: #D9D9D9;
  --white:#FFF;

  /* Fonts */
  body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    margin: 0;
  }

  .title-xs {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .title-s {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .title-m {
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* Nav */
  .sidebar nav a {
    font-weight: 500;
  }

  /* Buttons */
  .cta-sm,
  .cta-md,
  .cta-l {
    font-weight: 600;
  }

  .cta-md {
    font-size: 14px;
  }

  .cta-l{
    font-size: 16px;
  }

  .cta-xl, .cta-xl-full {
    font-size: 18px;
    font-weight: 600;
  }

  /* Cards */
  .featured-card h2 {
    font-size: 2.25rem;
  }

  .featured-card p {
    font-size: 1rem;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .featured-card .card-genre,
  .card .card-genre {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
  }

  /* Footer */
  .footer-col ul li a {
    font-size: 1rem;
  }

  .footer-terms a {
    font-size: 0.875rem;
  }

  /* Product */
  .tag {
    font-weight: 500;
    font-size: 0.875rem;
  }

  .game-description {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
  }

  .current-price,
  .original-price {
    font-weight: 700;
  }

  .cta-no-padding, .wishlist {
    font-size: 1.25rem;
    font-weight: 600;
  }

  /* Forms */
  .form-group label {
    font-size: 1rem;
    font-weight: 400;
  }
}