/* iPad/tablet */
@media (min-width: 840px) {

    .container, .newReleases, .similarGames {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
    /* Navbar */
    .menu-toggle {
        display: none;
    }

    .sidebar {
        padding: 30px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    .main-content {
        padding-top: 0;
        margin-left: 200px;
    }

    .search-bar {
        width: 370px;
        margin-right: 0;
        margin: 0 40px 0 0;
    }

    /* Product Page */
    .game-image {
        max-height: 600px;
    }

    /* Checkout */
    .checkout-container {
        max-width: 700px;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    /* Navbar */
    .sidebar {
        width: 270px;
    }

    .sidebar nav a {
        font-size: 1rem;
    }

    .main-content {
        margin-left: 270px;
        }

    /* Logo */
    .logo {
        max-width: 170px;
    }

    /* Icons */
    .icon-m {
        width: 24px;
    }

    /* Product Page */
    div.product-page {
        flex-direction: row;
        align-items: center;
        margin-bottom: 75px;
        gap: 96px;
    }

    .game-image {
        max-width: 500px;
        max-height: none;
    }

    /* Checkout */
    .billing-info {
        margin-top: 28px;
    }

    .checkout-container {
        flex-direction: row;
        gap: 50px;
        min-width: 100%;
    }
}