.product-page {
    display: flex;
    flex-direction: row;
    gap: 94px;
    align-items: center;
    margin-bottom: 75px;
}

.game-image {
  width: 100%;
  height: auto;
    max-width: 500px;
  object-fit: cover;
  border-radius: 20px;
  flex: 1;
}

.game-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 20px;
}

.star-filled,
.star-empty {
    font-size: 20px;
}

.star-filled {
    color: var(--color-yellow); /* Gold color for filled stars */
}

.star-empty {
    color: var(--gray-2); /* Grey color for empty stars */
}

.game-tags {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 20px;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.game-description {
    width: 300px;
}

.price-section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.current-price {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-orange);
}

.original-price {
    font-size: 2rem;
    color: var(--gray-3);
    text-decoration: line-through;
}
/* Quantity selector */
.quantity-selector {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quantity-label {

}

.quantity-controls {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--gray-2);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(34, 34, 34, 0.15);
    width: fit-content;
}

.product-qty {
    width: 50px;
    height: 36px;
    border: none;
    border-left: 1px solid var(--gray-2);
    border-right: 1px solid var(--gray-2);
    background: var(--color-secondary);
}

.product-qty input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}

.product-qty:focus {
    outline: none;
}

.qty-count {
    padding: 0.75rem 1.25rem;
    border: none;
    background: var(--color-secondary);
    cursor: pointer;
}

.qty-count:hover {
  background: var(--color-secondary-hover);
}

.btn-minus svg, .btn-plus svg {
    width: 20px;
    height: 20px;
    color: var(--color-primary);
}
