@import url("./_reset.css");
@import url("./_variables.css");
@import url("./imports/links.css");
@import url("./imports/buttons.css");
@import url("./imports/navigation.css");
@import url("./imports/cart.css");
@import url("./imports/footer.css");

body {
  color: var(--color-primary,#222);
  background-color: var(--color-secondary, #FAF9F6);
}

html, body {
  height: 100%;
  margin: 0;
}

.site-wrapper {
  display: flex;
  width: 100%;
}

.container, .newReleases, .similarGames {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 60px;
  min-height: 120px;
}

.main-content {
  flex: 1;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.main-content-margin {
  max-width: 1500px;
  padding: 30px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/* Card styles */
/* Featured card */
.hero-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 32px;;
  align-items: center;
}

.featured-card {
  position: relative;
  overflow: hidden;
  margin: 28px 0 80px 0;
  height: 410px;
  background: black;
  border-radius: 20px;
}

.card-information {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.featured-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgb(0 0 0 / 70%) 20%,
    rgb(0 0 0 / 0%) 100%
  );
  z-index: 1;
  pointer-events: none;
}

.featured-card img {
  width: 100%;
  height: 410px;
  object-fit: cover;
  border-radius: 20px;
  background: var(--color-primary,#222);
}

.featured-card .card-genre {
  display: inline-block;
  margin: 0;
  padding: 2px 12px;
  border-radius: 6px;
  background: rgb(245 247 250 / 60%);
  color: var(--color-primary,#222);
  flex: 0 0 auto;
  max-width: fit-content;
  width: auto;
  min-width: 0;
}

.featured-card h2,
.featured-card p {
  color: var(--color-secondary, #FAF9F6);
  margin: 0;
}

/* Product cards*/
.card {
  overflow: hidden;
  transition: transform 0.3s;
  margin: 28px 0;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.card-content {
  padding: 12px 0;
  position: relative;
}

.card-top {
  display: flex;
  margin-bottom: 16px;
  align-items:start
}

.card-top a{
  flex: 1;
}

.card-bottom {
  display: flex;
  align-items: center;
}

.card-bottom a {
  flex: 1;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--color-primary,#222);
}

.card .card-genre {
  margin: 0;
  color: rgb(34 34 34 / 70%);
}

/* Card Price */
.card-price, .card-price-discount, .card-price-original {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-price-product-page, .price-section .card-price-discount, .price-section .card-price-original {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.card-price {
  color: var(--color-primary,#222);
}

.price-sale {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.card-price-original {
  font-size: 1rem;
  text-decoration: line-through;
  color: var(--gray-2, #595D62);
  font-weight: 500;
}

.card-price-discount {
  font-weight: bold;
  color: var(--color-orange, #CA4039);
}

/* Logo */
.logo {
  max-width: 150px;
  height: auto;
}

.logo-two-part-style1 {
  --color-1: var(--color-primary,#222);
  --color-2: var(--color-orange, #CA4039);
}

.logo-two-part-style2 {
  --color-1: var(--color-secondary, #FAF9F6);
  --color-2: var(--color-orange, #CA4039);
}

/* Icons */
.icon-s {
  width: 16px;
  height: auto;
}

.icon-m {
  width: 22px;
  height: auto;
}

.icon-white {
  color: var(--color-secondary, #FAF9F6);
}

.icon-background {
  background: var(--color-primary,#222);
  border-radius: 6px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--alert, #960000);
  color: var(--color-secondary, #FAF9F6);
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  z-index: 1000;
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0) translate(-50%, -50%);
  z-index: 1000;
  top: 50%;
  left: 50%;
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
      0 -2.6em 0 0 #CA4039,
      1.8em -1.8em 0 0 rgb(202 64 57 / 20%),
      2.5em 0em 0 0 rgb(202 64 57 / 20%),
      1.75em 1.75em 0 0 rgb(202 64 57 / 20%),
      0em 2.5em 0 0 rgb(202 64 57 / 20%),
      -1.8em 1.8em 0 0 rgb(202 64 57 / 20%),
      -2.6em 0em 0 0 rgb(202 64 57 / 50%),
      -1.8em -1.8em 0 0 rgb(202 64 57 / 70%);
  }
  12.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(202 64 57 / 70%),
      1.8em -1.8em 0 0 #CA4039,
      2.5em 0em 0 0 rgb(202 64 57 / 20%),
      1.75em 1.75em 0 0 rgb(202 64 57 / 20%),
      0em 2.5em 0 0 rgb(202 64 57 / 20%),
      -1.8em 1.8em 0 0 rgb(202 64 57 / 20%),
      -2.6em 0em 0 0 rgb(202 64 57 / 20%),
      -1.8em -1.8em 0 0 rgb(202 64 57 / 50%);
  }
  25% {
    box-shadow:
      0 -2.6em 0 0 rgb(202 64 57 / 50%),
      1.8em -1.8em 0 0 rgb(202 64 57 / 70%),
      2.5em 0em 0 0 #CA4039,
      1.75em 1.75em 0 0 rgb(202 64 57 / 20%),
      0em 2.5em 0 0 rgb(202 64 57 / 20%),
      -1.8em 1.8em 0 0 rgb(202 64 57 / 20%),
      -2.6em 0em 0 0 rgb(202 64 57 / 20%),
      -1.8em -1.8em 0 0 rgb(202 64 57 / 20%);
  }
  37.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(202 64 57 / 20%),
      1.8em -1.8em 0 0 rgb(202 64 57 / 50%),
      2.5em 0em 0 0 rgb(202 64 57 / 70%),
      1.75em 1.75em 0 0 #CA4039,
      0em 2.5em 0 0 rgb(202 64 57 / 20%),
      -1.8em 1.8em 0 0 rgb(202 64 57 / 20%),
      -2.6em 0em 0 0 rgb(202 64 57 / 20%),
      -1.8em -1.8em 0 0 rgb(202 64 57 / 20%);
  }
  50% {
    box-shadow:
      0 -2.6em 0 0 rgb(202 64 57 / 20%),
      1.8em -1.8em 0 0 rgb(202 64 57 / 20%),
      2.5em 0em 0 0 rgb(202 64 57 / 50%),
      1.75em 1.75em 0 0 rgb(202 64 57 / 70%),
      0em 2.5em 0 0 rgb(202 64 57 / 20%),
      -1.8em 1.8em 0 0 rgb(202 64 57 / 20%),
      -2.6em 0em 0 0 rgb(202 64 57 / 20%),
      -1.8em -1.8em 0 0 rgb(202 64 57 / 20%);
  }
  62.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(202 64 57 / 20%),
      1.8em -1.8em 0 0 rgb(202 64 57 / 20%),
      2.5em 0em 0 0 rgb(202 64 57 / 20%),
      1.75em 1.75em 0 0 rgb(202 64 57 / 50%),
      0em 2.5em 0 0 rgb(202 64 57 / 70%),
      -1.8em 1.8em 0 0 rgb(202 64 57 / 20%),
      -2.6em 0em 0 0 rgb(202 64 57 / 20%),
      -1.8em -1.8em 0 0 rgb(202 64 57 / 20%);
  }
  75% {
    box-shadow:
      0 -2.6em 0 0 rgb(202 64 57 / 20%),
      1.8em -1.8em 0 0 rgb(202 64 57 / 20%),
      2.5em 0em 0 0 rgb(202 64 57 / 20%),
      1.75em 1.75em 0 0 rgb(202 64 57 / 20%),
      0em 2.5em 0 0 rgb(202 64 57 / 50%),
      -1.8em 1.8em 0 0 rgb(202 64 57 / 70%),
      -2.6em 0em 0 0 rgb(202 64 57 / 20%),
      -1.8em -1.8em 0 0 rgb(202 64 57 / 20%);
  }
  87.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(202 64 57 / 20%),
      1.8em -1.8em 0 0 rgb(202 64 57 / 20%),
      2.5em 0em 0 0 rgb(202 64 57 / 20%),
      1.75em 1.75em 0 0 rgb(202 64 57 / 20%),
      0em 2.5em 0 0 rgb(202 64 57 / 20%),
      -1.8em 1.8em 0 0 rgb(202 64 57 / 50%),
      -2.6em 0em 0 0 rgb(202 64 57 / 70%),
      -1.8em -1.8em 0 0 rgb(202 64 57 / 20%);
  }
}

.highlightedGame {
  position: relative;
  min-height: 160px;
}

#product-container {
  position: relative;
  min-height: 160px;
}